In [101]:
import pandas as pd

def wiki_reader(source: str, competition) -> pd.DataFrame:
    df = pd.read_html(source)[4]
    df1 = df[['Season', 'Club']]
    header1 = [i[1] for i in df1.columns]
    df1.columns = header1
    df2 = df[competition]
    header2 = [i for i in df2.columns]
    df2.columns = header2
    new_df = pd.concat([df1, df2], axis = 1)
    mask = new_df['Season'].isin(['Total', 'Carrer total'])
    new_df = new_df.loc[~(mask), :]
    new_df.index = new_df['Club']
    subsums = new_df.sum(level='Club')
    new_df.index = new_df['Season']
    del new_df['Season']
    return new_df, subsums

df, subsums = wiki_reader('https://en.wikipedia.org/wiki/Diego_Maradona', 'Total')
subsums

                             Apps  Goals
Club
Argentinos Juniors[56][322]   166    116
Boca Juniors[56][322]          71     35
Barcelona[56]                  58     38
Napoli[56]                    259    115
Sevilla[56]                    29      8
Newell's Old Boys[56][322]      5      0
Career total                  588    312